<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/typography.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Login</title>
</head>

<style>
    .main-container{
        background-color: #f9f9f9;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 120px;
        font-weight: 400;
        flex-direction: column;

    }
</style>

<body>
    <div class="main-container">
    
            <p class="blue" style="text-align: center; line-height: 60px;">Oops<span class="orange" style="font-size: 150px; font-weight: 900;">!</span> <br/><span class="orange" style="font-size: 20px; font-weight: 600;"> <%= message %> Error</span></p>
        
        
    </div>
</body>

</html>