<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/typography.css">
    <title>Login</title>
</head>

<body>
    <div class="main-container">
        <div class="left-container">
            <div class="form-container">
                <p class="heading-text">Guest Login</p>
                <input name="name" id="name" type="text" placeholder="Full Name">
                <input name="email" id="email" type="email" placeholder="Email">
                <button onclick="addToLocalStorage()" class="btn" type="submit">ENTER</button>
                <p class="al links ">Already a Member?<br> <a class="signinn links" href="/signin">Sign In</a> <br><a
                        class="signup links" href="/signup">Sign Up</a>
                </p>
            </div>
        </div>
        <div class="right-container">
            <div class="logo-container">
                <img src="../assets/logo.png">
            </div>
        </div>
    </div>
</body>
<script>
    function addToLocalStorage() {
        let name = document.getElementById('name').value;
        let email = document.getElementById('email').value;
        let guestUser = {
            name: name,
            email: email
        }
        let user = JSON.stringify(guestUser)
        localStorage.setItem('guestUser', user);
    }
</script>
</html>